<div class="header">
  <div class="header__left">
    <img src="../../../assets/images/logo.png" alt="" />

    <div class="dropdown">
      <div class="header__input">
        <input type="text" placeholder="Search Social Media" [(ngModel)]="search" />
        <button class="dropbtn" (click)="getUserByUsername(search)" >Search</button>
      </div>

      <div class="dropdown-content" *ngIf="searchDropdownVisible">
        <a *ngIf="searchResult" (click)="openUserProfile()">{{ searchResult }}</a>
      </div>
    </div>
  </div>
  

    <div class="header__middle">
      
        <div class="header__option active" (click)="newsFeed()">
          <span class="material-icons" > News Feed </span>
        </div>

    </div>
    <div class="header__right">
      <div class="header__info" >
        <a style="cursor: pointer;" (click)="userProfile()">
          <img class="user__avatar" *ngIf="profilePicture" [src]="decodeImage(profilePicture)" />
          <img class="user__avatar" *ngIf="!profilePicture" src="../../../assets/images/user_icon.png" alt="User Icon" />
        </a>
      </div>
      
      <div class="dropdown">
        <button class="dropbtn" (click)="toggleDropdown()">Notifications
          <span class="notification" *ngIf="this.numberOfNotifications!! > 0">{{ this.numberOfNotifications!! }}</span>
        </button>
        <div class="dropdown-content" *ngIf="dropdownVisible">
          <a *ngFor="let notification of latestNotifications">
            {{ notification.notificationText }}
          </a>
        </div>
      </div>
      
      <button style="background-color: red; border: none; border-radius: 10px; color: #333; /* Dark grey */ padding: 15px 25px; cursor: pointer; color: white;" (click)="logOutbuttonClicked()"><b>Log Out</b></button>
    </div>
  </div>
  <!-- header ends -->
