<div class="mainBody">
  
  <div *ngIf="registerCheck;else other_content">
    <div class="clolor_opacity"></div>
    <div class="headerLoginText"><h1 class="textColorDesign">Login</h1></div>
    
    <div class="maindiv">
      <div class="inputs">
        <div class="Fields">
          <div class="Fieldset">
            <input type="text" class="Before-FS" required="" autocomplete="off" [(ngModel)]="email">
            <h1 class="Fs-H"><span>Email</span></h1>
            <label class="placeholder">Email</label>
          </div>
        </div>
        <div class="Fields">
          <div class="Fieldset">
            <input type="password" class="Before-FS" required="" [(ngModel)]="password">
            <h1 class="Fs-H"><span>Password</span></h1>
            <label class="placeholder">Password</label>
          </div>
        </div>

      </div>
      <button class="loginButtonMain" (click)="loginButtonMain()">Login</button>
    </div>

    <div class="needNewAccount" (click)="registerButton()">Need New Account? <b style="color: rgb(255, 255, 255);">Sign Up </b></div>
  </div>

  <ng-template #other_content>

    <div class="clolor_opacity_register"></div>

    <div class="headerRegisterText"><h1 class="textColorDesign">Sign Up</h1></div>

    <div class="maindivRegister">


      <div class="inputs">
        <div class="Fields">
          <div class="Fieldset">
            <input type="text" class="Before-FS" required="" autocomplete="off" [(ngModel)]="username">
            <h1 class="Fs-H"><span>Username</span></h1>
            <label class="placeholder">Username</label>
          </div>
        </div>
        <div class="Fields">
          <div class="Fieldset">
            <input type="text" class="Before-FS" required="" autocomplete="off"
              [(ngModel)]="email">
            <h1 class="Fs-H"><span>Email</span></h1>
            <label class="placeholder">Email</label>
          </div>
        </div>
        <div class="Fields">
          <div class="Fieldset">
            <input type="password" class="Before-FS" required="" [(ngModel)]="password">
            <h1 class="Fs-H"><span>Password</span></h1>
            <label class="placeholder">Password</label>
          </div>
        </div>
        <div class="Fields">
          <div class="Fieldset">
            <input type="file" #imageInput accept="image/*" id="imageUpload" (change)="handlerFileInputPost($event)" />
            <label for="imageUpload" style="cursor: pointer; color: rgb(255, 255, 255)" class="material-icons">Add Profile Picture</label>
          </div>
        </div>

      </div>
      <button class="RegisterButtonMain" (click)="registerButtonMain()">Register</button>
    </div>

    <div class="needNewAccountRegister" (click)="loginButton()">Already Have an Account? <b style="color: rgb(212, 198, 198);"> </b></div>
  </ng-template>


</div>